.App {
  text-align: center;
}

.parallax {
  /* The image used */
  background-image: url("./images/parallax-image.jpg");

  /* Set a specific height */
  min-height: 800px;
  width: 100%;
  height: auto;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a.nav-link {
  margin-left: 7rem;
  width: 11rem;
  color: white;
}
.nav-item a {
  color: whitesmoke;
  font-weight: bolder;
  font-size: 1.4rem;
}
a.navbar-brand {
  color: whitesmoke;
}

.navbar-light .navbar-toggler {
  color: whitesmoke;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("C:\Users\Pradnya\Desktop\cake-ordering-ui\src\images\hamburgerMenu.png");
}
@media (max-width: 460px) {
  .photo-btn-grp {
    display: flex;
  }
}
/* .navbar-1{
height:200px;
width: 100%;
background-color: #ffffff;
margin-top:30px;
} */
/* .social-icons-1{
  height: 50px;
  width: 100%;
  background-color: whitesmoke;
}
.icons-1{
display:flex;
justify-content: space-between;
padding-top: 0.5%;
padding-right: 5%;
}

 li{
  font-size: 20px;
  list-style: none;
  cursor: pointer;
transform: perspective(3px) translateZ(0);
box-shadow: 0 0 1px rgba(0, 0, 0, 0);
transition-duration: 0.5s;
transition-property: transform;
}
li:hover,.photo-btn-grp button:hover{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 0.6;
} */

/* .shop-by-category-img img:hover{
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
} */
/* .menus-1{
  height: 140px;
  width: 100%;
}

.menu-items-1{
  display:flex;
justify-content: space-between;
padding-right: 5%;
font-weight: bolder;
padding-top: 5%;
}

#logo{
  width: 5%;
  height:5%;
  border-radius: 90px;
margin-top: 4%;
 padding-left: 2%;
 float: left;
 cursor: pointer;
} */

.discount-bar p {
  font-size: 25px;
  background-color: #fecacc;
  margin-top: -40px;
}

.blinking {
  animation: blinkingText 1.2s infinite;
}
@keyframes blinkingText {
  0% {
    color: #000;
  }
  49% {
    color: #000;
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: #000;
  }
}
.photo-text {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.photo-btn-grp button {
  margin-top: -8rem;
  cursor: pointer;
  position: relative;
  background-color: black;
  color: white;
  width: 13.7rem;
  height: 65px;
  font-size: 1.6rem;
  border: none;
  transition-duration: 0.5s;
  transition-property: transform;
  transform: perspective(1px) translateZ(0);
}

.photo-btn-grp {
  padding-top: 25%;
}

#section-1 {
  height: 500px;
  width: 100%;
  background-color: white;
}

.cake-delivery-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.category-images {
  /* display: flex; */
  height: 400px;
  /* justify-content: center; */
  /* margin-left: 10px; */
}

.category-images button {
  cursor: pointer;
  margin: 10px;
  background-color: black;
  color: white;
  width: 350px;
  height: 300px;
  font-size: 25px;
  border: none;
  transition-duration: 0.5s;
  transition-property: transform;
  transform: perspective(3px) translateZ(0);
  font-weight: bolder;
  text-align: center;

  background-image: url("https://images.unsplash.com/photo-1606983340126-99ab4feaa64a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YmlydGhkYXklMjBjYWtlc3xlbnwwfHwwfHw%3D&w=1000&q=80");
}

.category-images button:hover {
  transform: scale(0.9);
  opacity: 0.5;
}

#section-2 {
  margin-top: 120px;
}

.bg-img {
  /* The image used */
  background-image: url("images/visiting-card-background.jpg");

  height: 780px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Add styles to the form container */
.container1 {
  position: absolute;
  left: 0;
  margin: 20px;
  max-width: 530px;
  height: 300px;
  padding: 16px;
  background-color: black;
  box-sizing:content-box;
}

footer {
  width: 100%;

  bottom: 0;
  left: 0;
  background: black;
  margin-top: 40px;
}
footer .content {
  max-width: 1350px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .content p,
a {
  color: whitesmoke;
  text-decoration: none;
}
footer .content .box {
  width: 33%;
  transition: all 0.4s ease;
  margin-left: 10%;
}
footer .content .topic {
  font-size: 22px;
  font-weight: 600;
  color: whitesmoke;
  margin-bottom: 16px;
}
footer .content p {
  text-align: justify;
}
footer .content .lower .topic {
  margin: 24px 0 5px 0;
}
footer .content .lower i {
  padding-right: 16px;
}
footer .content .middle {
  padding-left: 80px;
  margin-right: 70px;
}
footer .content .middle a {
  line-height: 32px;
  text-decoration: none;
}
/* footer .content .right input[type="text"]{
  height: 45px;
  width: 100%;
  outline: none;
  color: whitesmoke;
  background: white;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 17px;
  border: 2px solid #222222;
}
footer .content .right input[type="submit"]{
  height: 42px;
  width: 100%;
  font-size: 18px;
  color: black;
  background:whitesmoke;
  outline: none;

  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: 2px solid black;
  transition: all 0.3s ease-in-out;
} */
/* .content .right input[type="submit"]:hover{
  background: none;
  color:  black;
} */
footer .content .media-icons a {
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid whitesmoke;
  margin: 30px 5px 0 0;

  transition: all 0.3s ease;
}
.content .media-icons a:hover {
  border-color: #fecacc;
}
footer .bottom {
  width: 100%;
  text-align: center;
  color: whitesmoke;
  padding: 0 40px 5px 0;
}
footer .bottom a {
  color: #fecacc;
}
footer a {
  transition: all 0.3s ease;
}
footer a:hover {
  color: #fecacc;
}
@media (max-width: 1100px) {
  footer .content .middle {
    padding-left: 50px;
  }
}
@media (max-width: 950px) {
  footer .content .box {
    width: 50%;
  }
  .content .right {
    margin-top: 40px;
  }
}
@media (max-width: 560px) {
  footer {
    position: relative;
  }
  footer .content .box {
    width: 100%;
    margin-top: 30px;
  }
  footer .content .middle {
    padding-left: 0;
  }
}

.about-text {
  padding-top: 20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.about-text .about-item-2 p,
.about-item-3 p {
  font-size: 20px;
  margin-top: -10px;
}
/* .about-text .about-item-3{
flex-grow: 0;
flex-shrink: 0;
flex-basis: 90%;

} */
.about-text h3 {
  margin-left: 10px;
}

.contact-text {
  display: flex;
  margin-top: 500px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.contact-text .contact-item1 {
  margin-top: 15%;
}

.contact-text .contact-item1 h2 {
  background-color: #fecacc;
}
.contact-text .contact-item1 p {
  padding-left: 70px;
  text-align: center;
  font-size: 25px;
}

.contact-input:focus ~ label,
textarea:focus ~ label,
.contact-input:valid ~ label,
textarea:valid ~ label {
  font-size: 0.75em;
  color: #999;
  top: -5px;
  -webkit-transition: all 0.225s ease;
  transition: all 0.225s ease;
}

.styled-input1 {
  float: left;
  width: 293px;
  margin: 1rem 0;
  position: relative;
  border-radius: 4px;
}

@media only screen and (max-width: 768px) {
  .styled-input1 {
    width: 100%;
  }
}

.styled-input1 label {
  color: black;
  padding: 1.3rem 30px 1rem 30px;
  position: absolute;
  top: 10px;
  left: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  pointer-events: none;
}

.styled-input1.wide {
  width: 650px;
  max-width: 100%;
}

.contact-input,
textarea {
  padding: 30px;
  border: 0;
  width: 100%;
  font-size: 1rem;
  background-color: #f5f5f5;
  color: black;
  border-radius: 4px;
}

.contact-input:focus,
textarea:focus {
  outline: 0;
}

.contact-input:focus ~ span,
textarea:focus ~ span {
  width: 100%;
  -webkit-transition: all 0.075s ease;
  transition: all 0.075s ease;
}

textarea {
  width: 100%;
  min-height: 15em;
}

.input-container {
  width: 650px;
  max-width: 100%;
  margin: 20px auto 25px auto;
}

.submit-btn {
  padding: 7px 35px;
  display: inline-block;
  background-color: black;
  color: white;
  font-size: 28px;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06), 0 2px 10px 0 rgba(0, 0, 0, 0.07);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.submit-btn:hover {
  transform: translateY(1px);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.09);
}

@media (max-width: 768px) {
  .submit-btn {
    width: 100%;
    float: none;
    text-align: center;
  }
}

.contact-input[type="checkbox"] + label {
  color: #ccc;
  font-style: italic;
}

.contact-input[type="checkbox"]:checked + label {
  color: #f00;
  font-style: normal;
}

.container5 {
  max-width: 95rem;
  width: 100%;
  padding: 0.1rem 2rem;
  margin: 0 auto;
}
.main .container5 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
}
.main .card {
  background: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
  color: #333333;
  border-radius: 2px;
  width: 25rem;
}
.main .card-image {
  background: #ffffff;
  display: block;
  padding-top: 70%;
  position: relative;
  width: 100%;
}
.main .card-image img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media only screen and (max-width: 600px) {
  .main .container5 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
}

.product-btn-grp {
  width: 100%;
  height: 60px;
  background-color: black;
  color: white;
  font-size: 25px;
  transition-duration: 0.5s;
  transition-property: transform;
  transform: perspective(3px) translateZ(0);
  text-align: center;
}

.product-btn-grp:hover {
  opacity: 0.5;
  cursor: pointer;
}

.container5 {
  content: "";
  display: inline;
  clear: both;
}

.container5 span {
  background-color: black;
  font-size: 25px;
  position: relative;
  float: left;
  z-index: 10;
  color: white;
  padding: 5px;
}

.occassion-container {
  display: inline;
}

.occassion-btn-grp button {
  height: 42px;
  width: 12rem;
  font-size: 18px;
  font-weight: bolder;
  color: white;
  background: black;
  outline: none;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: none;
  transition: all 0.3s ease-in-out;
  margin-left: 25px;
}

.occassion-btn-grp button:hover {
  opacity: 0.6;
}

.return-policy-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 15%;
  justify-content: space-around;
}

.return-policy-container p {
  font-size: 25px;
  text-align: center;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fecacc;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: #d3d3d3;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container6 {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container6::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #ff9f55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left-timeline {
  left: 0;
}

/* Place the container to the right */
.right-timeline {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left-timeline::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right-timeline::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right-timeline::after {
  left: -16px;
}

/* The actual content */
.content-timeline {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
  /* background-color: #fecacc; */
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .container6 {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .container6::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left-timeline::after,
  .right-timeline::after {
    left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right-timeline {
    left: 0%;
  }
}

/* .gradient-cards{
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.gradient-cards div{
  height: 100px;
  width: 15%;
  border-radius: 10px;
  cursor: pointer;
}


.order-count{
  background-image:linear-gradient(to bottom right,#17ead9,#6078ea);
}

.delivery-count{
  background-image:linear-gradient(to bottom right,#7117ea,#ea6060);

}
.user-queries-count{
  background-image:linear-gradient(to bottom right,#67799b,#5e2563);

}

.profit-count{
  background-image:linear-gradient(to bottom right,#42e695,#3bb2b8);

}
 */

.card-holder {
  display: inline-block;
  position: relative;
  margin: 64px 16px;
}
.card--01 {
  background-color: #f4d03f;
  background-image: linear-gradient(to right, #4a00e0, #8e2de2);
}
.card--02 {
  background-color: #ff3cac;
  background-image: linear-gradient(to left, #6fb1fc, #4364f7, #0052d4);
}

.card--03 {
  background-image: linear-gradient(to left, #96c93d, #00b09b);
}
.card--04 {
  background-image: linear-gradient(to right, #93291e, #ed213a);
}
.card--05 {
  background-image: linear-gradient(to right, #b91d73, #f67092);
}
.card--06 {
  background-image: linear-gradient(to right,  #F37335,#FDC830);
}
.card--07 {
  background-image: linear-gradient(to right,  #2c3e50,#bdc3c7);
}
.card__heading {
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.card__text {
  font-size: 22px;
  font-weight: 100;
  line-height: 1.5em;
  color: rgba(255, 255, 255, 0.85);
}
.card-shadow {
  width: 90%;
  height: 30%;
  position: absolute;
  z-index: -1;
  filter: blur(25px);
  top: 80%;
  left: 5%;
  transition: all 0.2s linear;
}
/* .card-shadow--01 {
  background-color: #F4D03F;
  background-image: linear-gradient(to right, #4A00E0, #8E2DE2);
}
.card-shadow--02 {
  background-color: #FF3CAC;
  background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
} */
.card-count:hover + .card-shadow {
  filter: blur(18px);
  transform: perspective(900px) rotateY(10deg);
}
.card-count {
  width: 300px;
  padding: 32px;
  border-radius: 5px;
  backface-visibility: hidden;
  transition: transform 0.2s linear;
}
/*
.card-count{
  width: 300px;
  padding: 32px;
  border-radius: 5px;
  backface-visibility: hidden;
  transition: transform 0.2s linear;
}
.card-count:hover {
  transform: perspective(1300px) rotateX(-10deg);
}
.card:hover +

 */
.nav {
  background-color: whitesmoke;
}
.nav-item {
  width: 14%;
}

.cart-body {
  display: inline;
}

.cart-items {
  display: flex;
  justify-content: space-around;
}

.cart-header {
  padding: 5%;
}

.cart-header h1 {
  background-color: #fecacc;
}
.selected-cake-info > span {
  padding: 10%;
}

.checkout-info {
  padding: 2%;
}

button.badge {
  background-color: #f04040;
  border: none;
  color: #ffffff;
  float: left;
}

button.Add {
  background-color: #40c0f0;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 20px;
  border: none;
  font-weight: bolder;
}
button.Remove {
  background-color: #f04040;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 20px;
  border: none;
  font-weight: bolder;
}

.cart-container {
  display: flex;
  justify-content: space-around;
  padding: 2%;
  align-items: center;
  width: 50%;
}

.css-1okebmr-indicatorSeparator {
  background-color: none;
}

/* 
.shipping-container, .pickup-container{
  display: flex;
  justify-content: space-around;
  padding: 2%;
  align-items: center;
  width: 50%;
} */

.shipping-arts-and-dogs {
  padding: 0;
  border: 1px solid black;
}

.shipping-germany {
  padding: 0 !important;
}

.shipping-germany > div {
  position: relative;
  font-size: 16px;
  display: block;
  height: 60px;
  line-height: 24px;
  border: 1px solid black;
}

.shipping-germany > div span {
  display: block;
  padding-top: 18px;
  padding-left: 9px;
}

.otp-field {
  width: 38px;
  margin-right: 40px;
  padding-left: 12px;
  height: 40px;
}
.cursor-pointer {
  cursor: pointer;
}
/* 
.main_div-todo {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.center_div-todo {
  width: 25%;
  height: 70vh;
  background-color: #f4f4f4;
  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

.todo-input{
  text-align: center;
  height: 30px;
  background: transparent;
  font-size: 20px;
  font-weight: bold;
  width: 60%;
}

.todo-li{
text-align: left;
font-size: 20px;
font-weight: 500;
min-height: 40px;
display: flex;
align-items: center;
color: #8566aa;
text-transform: capitalize;
  list-style: none;
}


.todo_style {
  display: flex;
justify-content: left;
align-items: center;
margin-left: -390px;
}

.todo_style .deleteIcon {
 width: 25px;
height: 25px;
display: flex;
justify-content: center;
align-items: center;
background-color: #8566aa;
border-radius: 50%;
 margin: 0 15px 0 35px;
padding: 5px;
color: aliceblue;
box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}


.todo_style .deleteIcon:hover {
background-color: transparent;
 color: crimson;
box-shadow: 5px 5px 15px -5px rgba(255, 0, 0, 0.5);
}

@media (max-width: 768px) {
  .center_div {
    width: 55%;
  }
}

.todo-button {
margin-left: 5px;
 width: 40px;
 font-size: 30px;
border: none;
color: whitesmoke;
font-weight: bold;
background-color: #8566aa;
} */



.main-div {
  min-height: 100vh;
  background: #060822;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.child-div {
  text-align: center;
  margin-top: 12rem;
}

.child-div figure img {
  width: 10rem;
  height: 8rem;
}

.child-div figure figcaption {
  color: #fff;
  font-size: 2.2rem;
  padding-top: 2rem;
  text-transform: capitalize;
}

.input-todo {
  /* display: block; */
  min-width: 40rem;
  height: 3.4rem;
  padding: 2rem 1.2rem;
  font-size: 1.8rem;
  line-height: 1.42857143;
  margin-top: 2rem;
  color: rgb(58, 57, 57);
  background-color: #fff;
  background-image: none;
  border: 0.1rem solid #ccc;
  border-radius: 0.4rem;
  -webkit-box-shadow: inset 0 0.1rem 0.1rem rgb(0 0 0 / 8%);
  box-shadow: inset 0 0.1rem 0.1rem rgb(0 0 0 / 8%);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.input-todo,
.input-todo:focus,
.input-todo:active,
.input-todo:active:focus {
  border: none;
  padding: 2.3rem 1.5rem;
  outline: none;
}
.input-todo {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.input-todo:focus {
  -webkit-box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
}

/*  Please Subscribe to ThapaTechnical Youtube Channel
/* Click Here: https://www.youtube.com/thapatechnical  */

.btn-todo {
  width: 5rem;
  display: flex;
  justify-content: space-around;
}

.fa {
  margin-left: -2.5rem;
  cursor: pointer;
  pointer-events: auto;
  z-index: 10;
  background-color: #fff;
  background-image: none;
  color: #666;
  -webkit-transition: color 0.15s linear;
  transition: color 0.15s linear;
  font-size: 2rem;
}
.fa:hover {
  color: rgb(47, 214, 122);
}

.fa-plus:before {
  content: "\f067";
  font-size: 1.5rem;
}

.showItems {
  margin-top: 3rem;
  text-align: center;
}

.eachItem {
  background: #fff;
  padding: 1.2rem 1rem;
  border-radius: 0.5rem;
  margin-bottom: 0.7rem;
  margin-left: 1rem;
  min-width: 40rem;
  word-break: break-word;
  background: rgb(85, 41, 220);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.eachItem:hover {
  background: rgb(249, 249, 252);
  color: rgb(85, 41, 220);
}

.showItems .eachItem .todo-element {
  padding-left: 1rem;
  font-size: 1.6rem;
  color: #fff;
}

.fa-trash-alt,
.fa-edit {
  /* margin-left: -2.5rem; */
  cursor: pointer;
  pointer-events: auto;
  z-index: 10;
  color: rgb(251, 251, 251);
  -webkit-transition: color 0.15s linear;
  transition: color 0.15s linear;
  font-size: 2rem;
}

.addItems .fa-edit {
  color: rgb(47, 214, 122);
}

.fa-edit {
  margin-left: -3.5rem;
}

/*  Please Subscribe to ThapaTechnical Youtube Channel
/* Click Here: https://www.youtube.com/thapatechnical  */

.eachItem:hover .fa-trash-alt {
  color: rgb(214, 47, 61);
}

.eachItem:hover .fa-edit {
  color: rgb(100, 214, 47);
}

.eachItem:hover .todo-element {
  color: rgb(85, 41, 220);
}

.btn-todo {
  letter-spacing: 0.1em;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
.btn-todo:hover {
  text-decoration: none;
}

.effect04 {
  --uismLinkDisplay: var(--smLinkDisplay, inline-flex);
  display: var(--uismLinkDisplay);
  color: #000;
  outline: solid 2px #000;
  position: relative;
  transition-duration: 0.4s;
  overflow: hidden;
}

.effect04::before,
.effect04 .span-todo {
  margin: 0 auto;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  transition-duration: 0.4s;
}

.effect04:hover {
  background-color: rgb(85, 41, 220);
}

.effect04:hover .span-todo {
  -webkit-transform: translateY(-400%) scale(-0.1, 20);
  transform: translateY(-400%) scale(-0.1, 20);
}

.effect04::before {
  content: attr(data-sm-link-text);
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: translateY(500%) scale(-0.1, 20);
  transform: translateY(500%) scale(-0.1, 20);
}

.effect04:hover::before {
  letter-spacing: 0.05em;
  -webkit-transform: translateY(0) scale(1, 1);
  transform: translateY(0) scale(1, 1);
}





.wrapper {
  width: 844px;
  height: 160px;
}
.margin-area {
  position: relative;
  text-align: center;
  font-family: "Trebuchet", sans-serif;
  font-size: 14px;
  margin: 0 20px;
}
.dot {
  height: 30px;
  width: 30px;
  position: absolute;
  background: #000;
  border-radius: 50%;
  top: 10px;
  color: #fff;
  line-height: 30px;
  z-index: 9999;
}
.dot.one {
  left: 65px;
  background: #0C84D9;
}
.dot.two {
  left: 280px;
  background: #0C84D9;
}
.dot.three {
  left: 490px;
  background: #bbb;
  color: #ffd800;
}
.dot.four {
  left: 700px;
  background: #bbb;
  color: #ffd800;
}
.progress-bar {
  position: absolute;
  height: 10px;
  width: 25%;
  top: 20px;
  left: 10%;
  background: #bbb;
}
.progress-bar.first {
  background: #0C84D9;
}
.progress-bar.second {
  left: 37%;
}
.progress-bar.third {
  left: 64%;
}
.message {
  position: absolute;
  height: 60px;
  width: 170px;
  padding: 10px;
  margin: 0;
  left: -8px;
  top: 0;
  color: #000;
}
.message.message-1 {
  top: 40px;
  color: #000;
}
.message.message-2 {
  left: 210px;
}
.message.message-3 {
  left: 210px;
  color: #000;
}
.message.message-4 {
  left: 210px;
}
.status {
  position: absolute;
  width: 700px;
  left: -600px;
  text-align: center;
  padding: 20px;
  color: black;
}
.status.code {
  top: 70px;
}
a {
  color: #0C84D9;
  text-decoration: none;
  font-weight: bold;
}
a:hover, a:focus {
  text-decoration: underline;
}


